{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_css %}
{% block cta %}

<div class="large-space"></div>
<section class="cta-section">
  <div class="cta-overlay ">
    <h1 class='cta-title'>LittleGemFelts</h1>
      <p>Handmade felt gifts and kits made with love for you in the North West of England - Paul & Silvia</p>      
        <wa-button class="button-light"size='medium' href="{% url 'blog:blog_list'%}" pill>Upcoming Events</wa-button>
        <wa-button class="button-dark"size='medium' href="{% url 'store:store'%}" pill>Shop All</wa-button>
  </div>
</section>
{% endblock cta %}

{% block blogAndEvents %}
<section class="blog-and-events-section">
  <div class="blog-event-container">
    <div class="blog-container">
      <h2>Blog: What's on in the workshop</h2>
      {% for post in blog_posts %}
        {% if post.is_event != True %}
            <div class="blog-item">
                <h3>{{post.title}}</h3>
                <p>{{post.slug}}</p>
                <p>{{post.content}}</p>
                <p>Added: {{post.date_created}}</p>
                <wa-button size='small'class="blog-btn" pill href="{% url 'blog:blog_details' post.slug %}">Read more</wa-button>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="event-container">
      <h2>Find us at our next event</h2>
      {% for post in blog_posts %}
        {% if post.is_event == True %}
            <div class="event-item">
                <h3>{{post.title}}</h3>
                <p>{{post.slug}}</p>
                <p>{{post.content}}</p>
                <p>We will be at <strong>{{post.location}}</strong></p>
                <p>Added: {{post.date_created}}</p>
                <wa-button size='small'class="event-btn" pill href="{% url 'blog:blog_details' post.slug %}">Read more</wa-button>
            </div>        
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock blogAndEvents %}
{% block content %}
<!-- Additional homepage content if needed -->
{% endblock content %}
{% block testimonials %}
<section class="testimonials-section">
  <div >
    <h2>Testimonials from our customers:</h2>
    <div class="testimonial-container">
      {% for testimonial in featured_testimonials %}
      <wa-card class="testimonial-card">
        <img src="{{testimonial.user.profile.profile_pic.url}}" alt="profile picture" class="profile-pic">
        <div class="card-content">
          <wa-rating readonly value="{{testimonial.rating}}"></wa-rating>
          <p>"{{testimonial.short_review}}"</p>
          <p>- {{testimonial.user.username}}</p>
        </div>
      </wa-card>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock testimonials %}