{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_css %}
{% block cta %}

<section class="cta-section">
  <div class="cta-overlay">
    <h1 class='cta-title'>LittleGemFelts</h1>
      <p>Handmade felt gifts and kits made with love for you in the North West of England - Paul & Silvia</p>      
        <wa-button class="button-light"size='medium'pill>Upcoming Events</wa-button>
        <wa-button class="button-dark"size='medium'pill>Shop All</wa-button>
  </div>
</section>
{% endblock cta %}

{% block latestAdditions %}
<!-- Your latest additions content here -->
<section class="latest-additions">
  <h2>Latest Additions</h2>
<div class="layout-addition">
    <wa-card class="card-overview">
      <img slot="media" src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="A kitten sits patiently between a terracotta pot and decorative grasses." />
      <h3>Article Title</h3>
      <p>Descriptive slug</p>  
      <wa-button size='large' class='footer-btn'  variant="brand" pill><i class="fa-solid fa-bag-shopping"></i> Shop</wa-button>
    </wa-card>
    <wa-card class="card-overview">
      <img slot="media" src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="A kitten sits patiently between a terracotta pot and decorative grasses." />
      <h3>Article Title</h3>
      <p>Descriptive slug</p>  
      <wa-button size='large' class='footer-btn'  variant="brand" pill><i class="fa-solid fa-bag-shopping"></i> Shop</wa-button>
    </wa-card>
    <wa-card class="card-overview">
      <img slot="media" src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="A kitten sits patiently between a terracotta pot and decorative grasses." />
      <h3>Article Title</h3>
      <p>Descriptive slug</p>  
      <wa-button size='large' class='footer-btn'  variant="brand" pill><i class="fa-solid fa-bag-shopping"></i> Shop</wa-button>
    </wa-card>
    <wa-button size="large" class="latest-section-btn" variant="brand" pill>Shop All</wa-button>
  </div>
</section>
{% endblock latestAdditions %}
{% block blogAndEvents %}
<section class="blog-and-events-section">
  <div class="blog-event-container">
    <div class="blog-container">
      <h2>Blog: What's on in the workshop</h2>
      {% for post in blog_posts %}
        {% if post.is_event != True %}
            <div class="blog-item">
                <h3>{{post.title}}</h3>
                <p>{{post.slug}}</p>
                <p>{{post.content}}</p>
                <p>Added: {{post.date_created}}</p>
                <wa-button size='small'class="blog-btn" pill href="{% url 'blog:blog_details' post.slug %}">Read more</wa-button>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="event-container">
      {% for post in blog_posts %}
        {% if post.is_event == True %}
            <div class="event-item">
                <h3>{{post.title}}</h3>
                <p>{{post.slug}}</p>
                <p>{{post.content}}</p>
                <p>We will be at <strong>{{post.location}}</strong></p>
                <p>Added: {{post.date_created}}</p>
                <wa-button size='small'class="event-btn" pill href="{% url 'blog:blog_details' post.slug %}">Read more</wa-button>
            </div>        
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock blogAndEvents %}
{% block content %}
<!-- Additional homepage content if needed -->
{% endblock content %}