{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock extra_css %}
{%block latestAdditions%}
{%endblock latestAdditions%}
{% comment %} The latest additions section is pulled from layout.html {% endcomment %}
{% block titles %}
<h1>Product details</h1>
{% endblock titles %}
{% block content %}

<div class="breadcrumb-nav">
<wa-button class="button-dark" href="{% url 'store:store' %}">Keep Shopping</wa-button>
</div>
<section class="product-section">
    <div class="store-detail-container">
                <div class="carousel-images">
                    {% for image in product.images.all %}
                    <div class="slides fade">
                        <img src="{{image.image.url}}" alt="{{product.name}}" id="img{{forloop.counter}}">
                    </div>
                    {%empty%}
                    <p>No images to display</p>
                    {% endfor %}
                    <a class="prev" id="prevBtn">&#10094;</a>
                    <a class="next" id="nextBtn">&#10095;</a>
                </div>
            <div class="description">
                <h2>{{product.name}}</h2>
                <div>
                    <p>
                        {{product.description}}
                    </p>
                </div>
                <div class="add-to-basket">
                    <span><strong>£ {{product.price}}</strong></span>
                    <form action="{% url 'basket:add_to_basket' product.id %}" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <input type="number" name="quantity" id="id_quantity" aria-label="Product quantity" {% if product.stock_level < 1 %} value = "0" {% else %} value="1"{% endif %} min="0" max="{{product.stock_level}}" required>
                        
                            {% if product.stock_level < 1 %}
                            <p>Item not available</p>
                            {% else %}
                            <button><strong>Add</strong></button>
                            {% endif %}
                        </form>                    
                </div>                
            </div>
    </div>
</section>
{% endblock content  %}
{% block extra_js %}
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock extra_js %}