{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock extra_css %}

{% comment %} The latest additions section is pulled from layout.html {% endcomment %}
{% block titles %}
<h1>Welcome to the Shop</h1>
{% endblock titles %}
{% block content %}
<section class="product-section">
    <div class="shop-filter">
        <div class="category-change">

        </div>
        <div class="category-change">
            <wa-button size='small' class='round-btn all-btn' href="?category=all">All</wa-button>
        </div>
        <div class="category-change">
            <wa-button size='small' class='round-btn kit-btn' href="?category=kit">Kits</wa-button>
        </div>
        <div class="category-change">
            <wa-button size='small' class='round-btn lamp-btn' href="?category=lamp">Lamps</wa-button>
        </div>
        <div class="category-change">
            <wa-button size='small' class='round-btn box-btn'href="?category=box">Boxes</wa-button>
        </div>
        <div class="category-change">
            <wa-button size='small' class='round-btn bag-btn'href="?category=bag">Bags</wa-button>
        </div>
        <div class="category-change">
            <wa-button size='small' class='round-btn tool-btn'href="?category=tool">Tools</wa-button>
        </div>
        <div class="filter-container">
            <form action="{% url 'store:store' %}" method="get">
                <wa-input placeholder='Filter' size='small' type='text' name='filter_input' value="{{filter_input}}"></wa-input>
                <button type="submit" class="search-btn">🔎</button>
            </form>
        </div>
    </div>
    <div class="store-container">
        <div class="wa-grid wa-gap-2" style="--min-column-size: 200px;">
            {% for item in products %}
            <div>
                <wa-card class="card-overview">
                    <img slot="media" src="{{ item.images.first.image.url}}" alt="" />
                    <h3>{{item.name}}</h3>
                    <p>{{item.description}}</p>
                    <wa-button size='small' class='footer-btn' href="{% url 'store:product_detail' item.pk %}" variant="brand" pill><i class="fa-solid fa-bag-shopping"></i>£ {{item.price}}</wa-button>
                    {% comment %} <wa-button size='small' class='footer-btn' href="{% url 'store:product_detail' item.pk %}" variant="brand" pill>read more</wa-button> {% endcomment %}
                </wa-card>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content  %}