{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock extra_css %}
{%block latestAdditions%}
{%endblock latestAdditions%}
{% comment %} The latest additions section is pulled from layout.html {% endcomment %}
{% block titles %}
<h1>Product details</h1>
{% endblock titles %}
{% block content %}
<p>{{product.main_category}}...{{product.sub_category}}</p>
<section class="product-section">
    <div class="store-container">
        <div class="wa-grid wa-gap-2" style="--min-column-size: 200px;">
                <div class="images">
                    <img src="{{product.primary_image.image.url}}" alt="">
                </div>
            <div class="description">
                <h2>{{product.name}}</h2>
                <div>
                    <p>
                        {{product.description}}
                    </p>
                </div>
                <div class="add-to-basket">
                    <span><strong>£ {{product.price}}</strong></span>
                    <form action="{% url 'basket:add_to_basket' product.id %}" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <input type="number" name="quantity" id="id_quantity" {% if product.stock_level < 1 %} value = "0" {% else %} value="1"{% endif %} min="0"max="{{product.stock_level}}" required>
                        
                            {% if product.stock_level < 1 %}
                            <p>Item not available</p>
                            {% else %}
                            <button >Add</button>
                            {% endif %}
                        </form>
                    
                </div>                
            </div>
        </div>
    </div>
</section>
{% endblock content  %}