{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock extra_css %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'js/basket.js' %}"></script>
{% endblock extra_js %}
{% block latestAdditions %}{% endblock latestAdditions %}
{% block content %}
<section class="basket-section">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h1>{{user.username}}'s basket:</h1>
    {% else %}
    <h1>Your Basket</h1>
    {% endif %}
    <div class="container" >
        <div class="horizontal-card-container">
            {% if basket_items %}
                {% for item in basket_items %}
                    <div data-item-id="{{item.product_id}}">
                        <wa-card orientation="horizontal" class="horizontal-card" >
                            {% if item.product.primary_image %}
                                <img slot="media" src="{{ item.product.primary_image.image.url }}" alt="{{ item.product.name }}">
                            {% endif %}
                            <div class=" card-content">
                                <div>
                                    <h3>{{item.product.name}}</h3>
                                </div>
                                <div>
                                    <p>Price: £{{item.product.price}}</p>
                                </div>
                                
                                <wa-button-group orientation="horizontal">
                                    <wa-button data-item-id="{{item.product_id}}" data-action="decrease" >
                                        <wa-icon name='minus' class='minus-btn'></wa-icon>
                                    </wa-button>
                                    <wa-input data-item-id="{{item.product_id}}" class='qty-input' value='{{item.quantity}}' data-qty='{{item.quantity}}'>
                                        <wa-label slot="start">Qty</wa-label>
                                    </wa-input>
                                    <wa-button data-item-id="{{item.product_id}}" data-action="increase">
                                        <wa-icon name='plus' class='plus-btn'></wa-icon>
                                    </wa-button>
                                    <wa-button data-item-id="{{item.product_id}}" data-action="remove">
                                        <wa-icon name='trash-can' class='plus-btn'></wa-icon>
                                    </wa-button>
                                </wa-button-group>
                            </div>
                        </wa-card>
                    </div>
                {% endfor %}
                <div class="alter-container">
                    
                </div>
            {% endif %}
        </div>
        <div class="totals-column">
            <wa-card>
                <h3 class='header'>Totals:</h3>
                <div class="total-contents">
                    <p>Number of items: <span><strong>{{product_count}}</strong></span></p>
                    <p>Subtotal: <span><strong>{{total}}</strong></span></p>
                    <p>Delivery: <span><strong>{{delivery}}</strong></span></p>
                    <p>Grand Total: <span><strong>{{grand_total}}</strong></span></p>
                </div>
                <wa-button>Continue to Payment</wa-button>
            </wa-card>
        </div>
    </div>
</section>
{% endblock content %}