@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap");
.navbar {
  font-family: "josefin sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf69f;
  position: relative;
}
.menu {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-right: 2rem;
}
wa-button.nav-btn::part(base) {
  padding: 0.5rem;
  border-radius: 10px;
  color: black;
  background: none;
  transition: all var(--wa-transition-slow);
}
wa-button.nav-btn::part(base):hover {
  color: #fff;
  background: #a560b2;
  border: solid 3px;
  border-color: #d6d5ee;
  transform: scale(1.1);
}
wa-button.nav-btn::part(base):active {
  transform: translateY(1px);
}
body {
  background-color: #d6d5ee;
}
.cta-section {
  position: relative;
  min-height: 60vh; 
}

.cta-container{
  position: relative;
  width: 80%; 
  max-width: 900px; 
  height: auto; 
  margin: 0 auto;
  padding: 2rem; 
  color: white;
  background: rgb(33,30,67,0.7);
  z-index: 2;
}

.cta-img{
  position: absolute;
  top: 8rem; 
  left: 65%;
  transform: translateX(-50%);
  width: 80%; 
  max-width: 900px; 
  z-index: 1;
}
.cta-img img {
  display: block;
  width: 100%;
  height: auto; 
  object-fit: cover;
  max-height: 50vh; 
}
.cta-title{
  color:#FCF69F;
}
.cta-btns{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:right;
  gap:2rem;
}
wa-button.cta-event::part(base){
  background:none;
  border:solid 4px #A3C4BC;
  font:white;
}
wa-button.cta-shop::part(base){
  background:#564DAC;
}
/* Footer specific styles */
.footer-container{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items:start;
  gap:2rem;
  border:solid 1px;
  padding:2rem;
}

.footer-brand-section{
  grid-column:1;
  border:solid 1px;
}

.footer-link-section{
  grid-column:3;
  display:grid;
  grid-template-columns:repeat(3,auto);
}

.footer-links ul{
  display:flex;
  flex-direction: column;
}

.footer-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items:start;
  gap:2rem;
  border:solid 1px;
  padding:2rem;
}

.footer-brand-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-social {
  display: flex;
  gap: 0.5rem;
}
.layout-addition{
  display:grid;
  grid-column:3;
  margin: 0 auto;
  grid-template-columns:auto auto auto;
  width:1024px;
  background-color:transparent;
  padding:3rem;
  position:relative;
  
}
.layout-addition::before{
  background:#A3C4BC;
  inset:0;
  filter:blur(1rem);
  position:absolute;
  content:"";
  z-index:0;
}
wa-card::part(base){
  display:flex;
  background-color:#3D89AF; 

}
.card-media{
  max-width:300px;
}
.card-overview{  
  max-width:300px;
    z-index:1; 
/*   background: none; */
  background-color:#3D89AF;
 align-items:center;
  text-align:center;
}
wa-button.footer-btn::part(base){
  background-color:#A560B2;
  color:#000;
}
wa-button.footer-btn::part(base){
  padding:1rem 3rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
