@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
  --title-font:"josefin sans", sans-serif;
  --heading-font:"Lora", sans-serif;
  --content-font:"cormorant", sans-serif;
  --amethyst-c1:#a560b2;
  --violet-twilight-c2:#564dac;
  --light-gold-c3:#fcf69f;
  --lavender-c4:#d6d5ee;
  --ash-grey-c5:#A3C4BC;
  --tropical-teal-c6:#16BAC5;

}
.cta-overlay{
    position: relative;
    background-color: rgb(86, 77, 172, 0.8);
    padding: 3rem;
    border-radius: 10px;
    text-align: left;
    font-size: 1.6rem;
    color: white;
    inset: -15% -20% ;
}
.cta-section{
    position:relative;
    margin: 5rem auto;
    width: clamp(300px, 60%, 900px);
    height: 300px;
    background: no-repeat url('/media/drying-fibres.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    inset: 5% 4%;
}
.cta-img{
    position: relative;
    z-index: -1;
}
.cta-title{
    color: #fcf69f;
}
.button-light{
    border: #a3c4bc 4px solid;
    background: none;
    border-radius: 2rem;
    margin: 1rem;
}
.button-dark{
    position: relative;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    color: white;
    z-index: 1;
    background:linear-gradient(45deg, #a3c4bc, #fcf69f);
}
.button-dark::before{
    content:"";
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    background: #564dac;
    z-index: -1;
    border-radius: 2rem;
}
wa-button.button-light::part(base){
    background: none;
    /* border: solid 4px #a3c4bc; */

}
wa-button.button-dark::part(base){
    background: #564dac;
}

/* Blog and Events section */
.blog-event-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.blog-container{
    grid-column: 1;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.blog-container::before{
    background: var(--tropical-teal-c6);
    filter: blur(5rem);
    content: "";
    inset: 0;
    z-index: -1; 
    position: absolute;
}
.event-container{
    grid-column:2;
    background-color: transparent;
    position: relative;
    z-index: 1;
}
.event-container::before{
    grid-column:2;
    background-color: var(--violet-twilight-c2);
    filter: blur(5rem);
    content: "";
    inset: 0;
    z-index: -1; 
    position: absolute;
}
.blog-item{
    text-align: right;
}
.event-item{
    text-align: left;
}
