:root {
  --title-font: "josefin sans", sans-serif;
  --heading-font: "Lora", sans-serif;
  --content-font: "cormorant", sans-serif;
  --amethyst-c1: #a560b2;
  --violet-twilight-c2: #564dac;
  --light-gold-c3: #fcf69f;
  --lavender-c4: #d6d5ee;
  --ash-grey-c5: #a3c4bc;
  --tropical-teal-c6: #16bac5;
  --green-c7:#09BC8A;
}
h3{
  font-size:1.2rem ;
}
.shop-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--light-gold-c3);
  align-items: center;
  justify-content:space-around;
  padding: 0.75rem;
  margin: 3rem 0;
}
.filter-container {
  display: inline-flex;
  position: relative;
  align-items: center;
  
}
.filter-container wa-input::part(base) {
  padding-right: 40px;
}
.filter-container wa-button::part(base) {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: transparent;
}
.category-change{
  margin: 5px;
}

wa-button.all-btn::part(base)  {
  background-color: var(--amethyst-c1);
}

wa-button.kit-btn::part(base) {
  background-color: var(--violet-twilight-c2);
}

wa-button.lamp-btn::part(base) {
  background-color: var(--green-c7);
}

wa-button.box-btn::part(base) {
  background-color: var(--lavender-c4);
}

wa-button.bag-btn::part(base) {
  background-color: var(--ash-grey-c5);
}

wa-button.tool-btn::part(base) {
  background-color: var(--tropical-teal-c6);
}
/* Basket styles */

.horizontal-card-container{
  width: 60%;
  min-width:300px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.totals-column {
  min-width: 200px;
}
wa-card.horizontal-card{
  width: 100%;
  max-height:150px;
}
.card-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0 2rem;
}
.horizontal-card img[slot='media']{
  max-width:200px;
  height: auto;
  object-fit:cover;
  aspect-ratio: 3/4;
}

.horizontal-card wa-button-group{
  max-width: 200px;
  font-size: 0.75rem;
}
.horizontal-card wa-button{
  font-size: 0.6rem;
}
.horizontal-card wa-input{
  width: 60px;
  font-size: 0.6rem;
}
/* minmax(300px, 2fr) minmax(250px, 1fr) */

/* wa-button::part(base){
  width: 20px;
  height: 20px;
}
wa-input::part(base){
  height:30px;
  width: 30px;
  font-size: 0.5rem;
} */
