{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">{% endblock extra_css %}
{% block latestAdditions %}{% endblock latestAdditions %}
{% block content %}
<section class="blog-section">
  <div class="wa-grid wa-gap-l" style='--min-column-size:300px;'>
    <div class="title wa-span-grid">
      <h2>{{post.title}}</h2>
    </div>
    <div class="slug">
      {% if post.is_event %}
      <div class="event-dates">
        <strong>Event Dates:</strong> 
        {{ post.start_date|date:"M d, Y H:i" }} – {{ post.end_date|date:"M d, Y H:i" }}
        <br><strong>Location:</strong> {{post.location}}
      </div>
    {% endif %}
    </div>
    <div class="img">
      {% if post.img %}
    <img src="{{ post.img.url }}" alt="blog post image">
  {% else %}
    <img src="{% static 'blog_pics/placeholder.png' %}" alt="No image available">
  {% endif %}
    </div>
    <div class="wa-span-grid text">
      <p>{{post.content}}</p>
    </div>
    <div class="date-edit-author">
      <span>written by: {{post.author}} | </span><span>first published on: {{post.date_created}} | </span><span>last edited on: {{post.date_updated}}</span>
    </div>

  </div>
</section>
<section class="comments-section">
  <div class="container">
    {% for comment in comments %}
        <div class="comment">
            <strong>{{ comment.author.username }}</strong> 
            <span class="text-muted">- {{ comment.date_created|date:"M d, Y" }}</span>
            <p>{{ comment.content }}</p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

    <div class="mt-4">
        {% if post.allow_comments %}
            {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary purple">Submit</button>
                </form>
            {% else %}
                <p>Please <a href="{% url 'account_login' %}">login</a> to leave a comment.</p>
            {% endif %}
        {% else %}
            <div class="alert alert-secondary">
                Comments are closed for this post.
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}