{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">{% endblock extra_css %}
{% block latestAdditions %}{% endblock latestAdditions %}
{% block content %}
<section class="blog-section">
  <div class="wa-grid wa-gap-l" style='--min-column-size:300px;'>
    <div class="title wa-span-grid">
      <h2>{{post.title}}</h2>
    </div>
    <div class="slug">
      {% if post.is_event %}
      <div class="event-dates">
        <strong>Event Dates:</strong> 
        {{ post.start_date|date:"M d, Y H:i" }} – {{ post.end_date|date:"M d, Y H:i" }}
        <br><strong>Location:</strong> {{post.location}}
      </div>
    {% endif %}
    </div>
    <div class="img">
      <img src="{{ post.img.url }}" alt="{{ post.title }}" aria-label="Featured image for {{post.title}}">
    </div>
    <div class="wa-span-grid text">
      <p>{{post.content}}</p>
    </div>
    <div class="date-edit-author">
      <span aria-label="Post author">written by: {{post.author}} | </span><span aria-label="First published date">first published on: {{post.date_created}} | </span><span aria-label="Last edited date">last edited on: {{post.date_updated}}</span>
    </div>

  </div>
</section>
<section class="comments-section">
  <h3>Comment section</h3>
  <div class="container">
    {% for comment in comments %}
        <div class="comment" aria-label="Comment by {{comment.author.username}}">
            <strong>{{ comment.author.username }}</strong> 
            <span class="text-muted" aria-label="Comment date">- {{ comment.date_created|date:"M d, Y" }}</span>
            <p>{{ comment.content }}</p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

    <div>
      {% if post.allow_comments %}
        {% if user.is_authenticated and user.profile.can_comment %}
        <form method="post" aria-label="Leave a comment form">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary purple" aria-label="Submit comment">Submit</button>
        </form>
        {% else %}
        <p>Please <a href="{% url 'account_login' %}" aria-label="Login to leave a comment">login</a> to leave a comment.</p>
        {% endif %}
      {% else %}
      <div class="alert alert-secondary">
        Comments are closed for this post.
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}