{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock extra_css %}

{% block latestAdditions %}{% endblock latestAdditions %}

{% block content %}
<section class="basket-section">
    {% if user.is_authenticated %}
    <h1>{{user.username}}'s Shipping Details:</h1>
    {% else %}
    <h2>Shipping Details</h2>
    {% endif %}

    <form id="payment-form" class="checkout-form" data-url="{% url 'order:create_order'%}" data-return-url="{% url 'order:order_confirmation' %}" data-client-secret="{{ client_secret }}" data-stripe-public-key="{{ stripe_public_key }}">
        {% csrf_token %}

        <div class="checkout-main">
            
            <fieldset class="shipping-form">
                {{ form.as_p }}
            </fieldset>

            <div id="payment-element">
                </div>
            
            <div id="payment-message" class="hidden"></div>
            
            <div class="checkout-actions">
                <button id="submit" class="wa-btn-mimic">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay now</span>
                </button>
                <wa-button href="{% url 'basket:view_basket' %}" variant="danger" pill>Cancel</wa-button>
            </div>
        </div>

        <div class="checkout-sidebar">
            <wa-card class="summary-card sticky-summary">
                <h2 class='header'>Basket Summary:</h2>
                <table class="total-contents">
                    <tr>
                        <td>Number of items:</td>
                        <td><strong>{{product_count}}</strong></td>
                    </tr>
                    <tr>
                        <td>Subtotal:</td>
                        <td><strong>£{{total}}</strong></td>
                    </tr>
                    <tr>
                        <td>Delivery:</td>
                        <td><strong>£{{delivery}}</strong></td>
                    </tr>
                    <tr>
                        <td class="grand-total-row">Grand Total:</td>
                        <td class="grand-total-row"><strong>£{{grand_total}}</strong></td>
                    </tr>
                </table>
            </wa-card>
        </div>

    </form>
</section>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/checkout.js' %}" defer></script>
{% endblock extra_js %}