{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock extra_css %}

{% block latestAdditions %}{% endblock latestAdditions %}

{% block content %}
<section class="basket-section">
    {% if user.is_authenticated %}
    <h1>{{user.username}}'s Shipping Details:</h1>
    {% else %}
    <h1>Shipping Details</h1>
    {% endif %}
    {%if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container" >
        <form method="POST" id="shipping-form" >
            
            
            <wa-button type="submit" variant="brand" >Confirm Shipping Details</wa-button>
            <wa-button href="{% url 'basket:view_basket' %}" variant="outline">Cancel</wa-button>
        </form>
    </div>
    {% comment %} from stripe docs {% endcomment %}
    <form id="payment-form" data-url="{% url 'order:create_order'%}" data-return-url="{% url 'order:order_confirmation' %}" data-client-secret="{{ client_secret }}" data-stripe-public-key="{{ stripe_public_key }}">
        {% csrf_token %}
        <fieldset class="shipping-form">
            {{ form.as_p }}
            
        </fieldset>
        <div class="totals-column">
            <wa-card>
                <h3 class='header'>Basket Summary:</h3>
                <table class="total-contents">
                    <tr>
                        <td>Number of items:</td>
                        <td><strong>{{product_count}}</strong></td>
                    </tr>
                    <tr>
                        <td>Subtotal:</td>
                        <td><strong>£{{total}}</strong></td>
                    </tr>
                    <tr>
                        <td>Delivery:</td>
                        <td><strong>£{{delivery}}</strong></td>
                    </tr>
                    <tr>
                        <td>Grand Total:</td>
                        <td><strong>£{{grand_total}}</strong></td>
                    </tr>
                </table>
            </wa-card>
        </div>
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <div id="payment-message" class="hidden"></div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <wa-button href="{% url 'basket:view_basket' %}" variant="outline">Cancel</wa-button>
    </form>
</section>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/checkout.js' %}" defer></script>
{% comment %} <script src="{% static 'js/ajax_checkout.js' %}" defer></script> {% endcomment %}

{% endblock extra_js %}